:root
{
  --font: "Permanent Marker", cursive
}

body
{
  margin: 0px;
}

li
{
  list-style: none;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.3;
}


.container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
    height: 90vh;
    font-family: var(--font);
    padding: 20px;
    h2
    {
      text-align: center;
    }
}

input#new-item {
    width: 92%;
    border-radius: 30px;
    font-size: 21px;
    padding: 10px;
    text-align: center;
    border: 2px solid #ccc;
    box-shadow: inset 3px 3px 11px #0000002b;
    font-family: var(--font);
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
    /* rotate: 7deg; */
    margin-bottom: 23px;
}

li input[type='text'] {
    font-size: 25px;
}

button
{
      border-radius: 30px;
      font-size: 21px;
      padding: 10px;
      box-shadow: 3px 3px 6px #00000036;
      height: 50px;
      width: 50px;
}

.displayNone {
  display:none;
}

.home {

  ul
  {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  li {
    width: 100px;
    height: 100px;
    background: lightgray;
    list-style: none;
    box-shadow: 3px 3px 10px #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  li:hover
  {
    color: gray;
  }



}

.nonEditInput, .nonEditInput:focus {
    background: none;
    border: none;
}

.view
{
  justify-content: center;

  li {
      font-size: 20px;
  }
}
